<?xml version="1.0" encoding="utf-8"?>
<manifest package="id.infiniteuny.academichandbook"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.pedoman.DetailPedomanActivity"></activity>
        <activity android:name=".ui.pedoman.PedomanActivity" />
        <activity android:name=".ui.prodi.ProdiDetailActivity" />
        <activity android:name=".ui.lecture.DetailLectureActivity" />
        <activity android:name=".ui.lecture.LectureActivity" />
        <activity android:name=".ui.prodi.ProdiActivity" />
        <activity android:name=".ui.major.MajorActivity" />
        <activity android:name=".ui.main.MainActivity" />
        <activity android:name=".ui.splash.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>